<mat-card class="card-container" style="margin-left: 15px">
    <div style="width:100%; height:100%" fxLayout="column">
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <div fxLayout="column" style="width: 100%; height:100%; overflow:auto">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

                <!-- Score Column -->
                <ng-container matColumnDef="key">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 0 300px;"> Key </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="flex: 0 0 300px;"> {{element.key}} </mat-cell>
                </ng-container>

                <!-- Value Column -->
                <ng-container matColumnDef="value">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Value </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let element; columns: displayedColumns">
                </mat-row>
            </table>
        </div>
    </div>
</mat-card>