<div fxFill fxLayoutAlign="space-between center">
    <mat-card *ngIf="data" class="card-container" style="margin-left: 15px">
        <div fxFlex fxLayout="column" style="width: 100%">
            <div fxFlex="30" fxLayout="row" fxLayoutAlign="space-between start">
                <div fxFlex fxLayout="row" fxLayoutAlign="start start" class="card-header">
                    <div>
                        <mat-card-title *ngIf="data.approved_symbol">{{ data.approved_symbol }}</mat-card-title>
                        <mat-card-subtitle>Gene</mat-card-subtitle>
                    </div>
                </div>
            </div>

            <div fxFlex fxLayout="column" fxLayoutAlign="start start">
                <div fxLayout="column" style="width: 100%; padding-bottom: 10px; overflow:auto;">
                    <app-annotation-selector [annotations]="annotationList" [(index)]="annotationIndex"
                        class="annotation-selector"></app-annotation-selector>
                </div>
            </div>
        </div>
    </mat-card>
</div>